.features
{

    background-color: #f3f3f3;


}
.features__wrapper {
  .container;
  background: url('../img/iphone-screen-mobile@1x.png') 50% 110% no-repeat;
  padding-top: 95px;
  padding-bottom: 300px;
  .clearfix;
}
.features__title
{
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    text-align: center;
    margin-bottom: 50px;
    color: #283645;
    width: 100%;
}
.features__title-wrapper {
  background-color: #fff;
  padding: 45px 0;
}
.features__inner
{
    width: 260px;
    margin: 0 auto;

}

  .features__item-title
{
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    text-align: center;

    color: #000;
}
.features__item-descr
{
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    text-align: center;

    color: #283645;
}
.features__effect {
  display: none;


}
.features__effect-wrapper {
  background-color: #fff;
  padding: 50px 0;
}
.features__effect-inner {
  .container;
}
.features__bg {
  background: url("../img/bg-triangle-white.svg") no-repeat;
  background-size: 100%;
}
@media @tablet-widths {

  .features__title {
    font-size: 40px;
    align-self: center;
  }
  .features__wrapper {
  background: url('../img/iphone-screen-3-tablet@1x.png') 0% 95% no-repeat;
  padding-bottom: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}
  .features__inner {
    margin: 0;
    width: 295px;

  }

  .features__item-title, .features__item-descr {
    text-align: left;
  }
  .features__effect-inner {
    position: relative;
    .clearfix;
    background: url("../img/icon-timer.svg") no-repeat 0 10%;
    padding: 20px 0;
    &:before {
      content: "24";
      color: #d22856;
      font-family: "Open Sans";
      font-size: 96px;
      font-weight: 700;
      line-height: 149px;
      border: 15px #d22856 solid;
      border-radius: 50%;
      text-align: center;
      width: 160px;
      height: 160px;
      position: absolute;
      top: 22.5%;
      left: 3.5%;
    }
  }
  .features__effect {
    font-family: "Open Sans";
    display: block;
    width: 295px;
    float: right;
    h2 {
      color: #000000;
      font-size: 30px;
      font-weight: 700;
      line-height: 36px;
    }
    p {
      color: #283645;
      font-size: 13.95px;
      font-weight: 400;
      line-height: 24px;
    }
    a {
      color: #d22856;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      text-decoration: underline;
    }
  }
}

@media @desktop-widths {

  .features__wrapper {
  background-image: none;
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
  .features__title {

    font-size: 50px;
  }
  .features__inner {
    background: url('../img/iphone-screen-1-desktop@1x.png') 2% 10% no-repeat,
                url('../img/iphone-screen-2-desktop@1x.png') 50% 10% no-repeat,
                url('../img/iphone-screen-3-desktop@1x.png') 99% 10% no-repeat;
    width: 100%;
    display: flex;
    padding-top: 350px;



  }
  .features__item {
    width: 300px;
    padding: 0 20px;
  }
  .features__item-title {
    font-family: "Open Sans";
    line-height: 30px;
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }
  .features__item-descr {
    font-family: 'Open Sans';
    line-height: 30px;
    color: #283645;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
  }
  .features__effect-wrapper {
    background-color: #f3f3f3;

  }
  .features__effect {
    font-family: "Open Sans";
    width: 530px;
    margin-left: auto;
    padding: 115px 0;
    h2 {
      color: #000000;
      font-size: 30px;
      font-weight: 700;
      line-height: 30px;
    }
    p {
      color: #283645;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
    }
    a {
      color: #d22856;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      text-decoration: underline;
    }
  }
  .features__effect-inner {
      background-size: 298px 345px;
      &:before  {
        font-size: 120px;
        width: 200px;
        height: 200px;
        border-width: 18px;
        top: 19%;
      }
  }
}

