.index-intro {
  background: url("../img/bg-back-mobile@2x.jpg") no-repeat 50% 0;
  background-size: cover;
  min-height: 460px;
  position: relative;
  padding-top: 100px;
}
 .index-intro__wrapper {
  .container;
}

.app__title {
    display: none;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 40px;
    font-weight: 300;
    text-align: center;
  }


@media @tablet-widths {
  #trailer {
  overflow: hidden;
  display: block;
}
  .index-intro {
  background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-tablet@2x.jpg");
  background-size: auto, cover;
  background-position:  50% 100%;
  padding-top: 150px;
  }

  .app__title {
    display: block;
  }

}
@media @desktop-widths {
.index-intro {
  background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
  background-size: auto, cover;
  background-position:  70% 100%;

  background-size: auto;
  padding-top: 150px;
  }

  .app__title {
    display: block;
    font-size: 50px;
    margin-bottom: 62px;

  }
}
